* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app__header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}

.app__header > h1 {
  color: rgb(12, 91, 97);
  font-size: 2rem;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__dropdown {
  background-color: white;
}

.app__graph {
  flex-grow: 1;
}
.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.app__headerTitle {
  margin-left: 150px;
  margin-bottom: 43px;
  font-style: italic;
  font-weight: bolder;
  font-family: 'Lucida Sans';
  color: aqua;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
